<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ head }}</title>
    <link rel="shortcut icon" href=" {{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Anta&display=swap" rel="stylesheet">
</head>
<body>
    {% if head %}
        <h1>{{ head }}</h1>
    {% else %}
        <h1> Неизвестные </h1>
    {% endif %}

    {% for user in users %}
        <p {% if user == 'user2' %} style="color:red" {% endif %}>{{loop.index}}. {{ user }}</p>
    {% endfor %}
    <p>user 1</p>
    <p>user 2</p>
    <p>user 3</p>
    <p>user 4</p>
    <p>user 5</p>
</body>
</html>