<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>dfgdfgdfg</header>
    <nav>esfsdf</nav>
    <article><b><p>xzcvcxv</p></b></article>
    <section>sdf</section>
    <footer>hgff</footer>
    <div width="300">
        <p>sdfsdf</p>
        <div>
            <p>sdf</p>
        </div>
    </div>
    <p></p>

    <q>asdasd</q>
    ,<img src="{{ url_for('static', filename='cat.jpg') }}" alt="кот">

</body>
</html>